.hidden{
  display:none;
}


body{
  background-color:rgba(255,255,255,.8);
  background-image: url("basic-bg-blur.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

label{
  display:block;
}


#filter{
  position: relative;
  float: right;
  padding:0 5px 0 5px;
  right: 20px;
  width: 20vw;
}


#filter article{
  margin-right: 5px;
  border-radius: 8px;
display:block;
margin: 0;
width: inherit;
padding: 10px 5px 5px 10px;
background-color: white;
background-color:rgba(255,255,255,0.6);
}

#filter fieldset{
  margin: 0;
}
