html {

}

body {
  font-family: sans-serif;

}


.title-box {
  font-size: 20px;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-bottom: black solid 2px;
  background-color: Gainsboro;
}

/*.text-enter {
  background-color: white;
  margin: 25px;
  height: 300px;
  border: black solid 2px;
  margin-bottom: 5px;
}*/


.list-button{
  width:50px;
  height:20px;
  font-size:12px;
  padding:0;
  display: inline-block;
  position: fixed;
  top: 465px;
}

.under-bar {
  text-align: center;

}

.tag-bar-spacer {
  display: inline-block;
  width: 320px;
}

.tag-bar {
  font-size: 10px;
  text-align: center;
}

.button-spacer {
  display: inline-block;
  margin-left: 30px;
}

 button {
   margin: 0 5px 0 5px;
   padding: 5px;
   width: 80px;
   height: 25px;
   background-color: Gainsboro;
   font-family: sans-serif;
   font-size: 14px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.10);
 }

 .add-tags-button {
   font-size: 10px;
   margin: 5px;
 }

 .text-in {
   resize: none;
   font-size: 20px;
   padding: 10px;
   width: 444px;
   height: 278px;
 }

 .preview {
   border: black solid 2px;
   width: 300px;
   height: 190px;
   background-color: white;
   margin: auto;
 }

 .preview-label {
   text-align: center;
   font-family: sans-serif;
   font-size: 14px;
   margin-bottom: 5px;
 }

 .preview-spacer {
   width: 1px;
   height: 20px;
 }

 .attach-bar {
   height: 100px;
   margin: auto;
   font-size: 12px;
   text-align: center;
 }

 .browse-button {
   width: 90px;
   font-size: 10px;
   margin: 5px;
 }

.list-title {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.list-box {
  border: solid black 2px;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

ul {
  margin: 20px;
  font-size: 20px;
}

.list-item {
  color: Lightgray;
}
