
<div class="filterSection">
    <h2>Filters</h2>
        <div class="filter-input-container">
            <label for="filter-title" class="filter-input-label">Title</label>
            <input type="text" name="filter-title" id="filter-title" class="filter-input">
        </div>

        <div class="filter-input-container">
            <label for="filter-tags" class="filter-input-label">Tags</label>
            <input type="text" name="filter-tags" id="filter-tags" class="filter-input">

        </div>

        <div class="filter-input-container">
            <label for="filter-type" class="filter-input-label">Type</label>
            <input type="text" name="filter-tags" id="filter-type" class="filter-input">

        </div>

        <button id="filter-update-button" class="action-button" onclick="doFilterUpdate()">Update Filter</button>

</div>
