<div class="post-box">
  <div class="title-box">
    Create a new text post
    <br>
    <input id="title-input" type="text" placeholder="Write a title:)">
  </div>

  <div class="text-enter">
    <textarea id="text-input" value="" class="text-in"></textarea>
  </div>
  <div class="tag-bar">
    <label for="tag-input">Tags:</label>
    <input class="add-tags-button" type="text" id="tag-input" size="50" placeholder="add tags here ex(cats,happy,goofy,young,cute)">

  </div>
  <div class="under-bar">
    <button id="cancel" onClick="closemodal()" class="cancel-button"> Cancel </button>
    <div class="button-spacer"> </div>
    <button id="submit" onClick="textSubmit()" class="submit-button"> Submit </button>
  </div>
</div>
