body {
    font-family: sans-serif;
    margin: 0;
    background-color: #b0802b;
}

header {
    background-color: #724921;
    color: white;
    align-items: center;
    display: flex;
    position: relative;
}

main {
    display: flex;
}

aside {
    margin: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5f2f00;
    background-color: #d5a653;
    padding: 10px;
    width: 200px;
    height: 400px;
}

section {
    margin: 10px;
    display: flex;
}

.post {
    margin: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5f2f00;
    background-color: #d5a653;
    padding: 10px;
    width: 300px;
    height: auto;
}

.postData {
    margin: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5f2f00;
    background-color: #d5a653;
    padding: 10px;
    height: auto;
}

img {
    width: inherit;
}

h3 {
    margin: 0;
}

.postTitle {
    margin-left: 50px;
    padding-top: 15px;
}