
    {{> header}}

<main>
    <aside>
        <div class="addPostContainer">
            <button id="add-post" class="addPostButton">Add a Post</button>
        </div>
        <div class="filterSection">
            <h2>Filters</h2>
                <div class="filter-input-container">
                    <label for="filter-title" class="filter-input-label">Title</label>
                    <input type="text" name="filter-title" id="filter-title" class="filter-input">
                </div>

                <div class="filter-input-container">
                    <label for="filter-date" class="filter-input-label">Date</label>
                    <input type="date" name="filter-date" id="filter-date" class="filter-input" placeholder="mm/dd/yyyy">

                </div>

                <div class="filter-input-container">
                    <label for="filter-tags" class="filter-input-label">Tags</label>
                    <input type="text" name="filter-tags" id="filter-tags" class="filter-input">

                </div>

                <div class="filter-input-container">
                    <label for="filter-type" class="filter-input-label">Type</label>
                    <input type="text" name="filter-tags" id="filter-type" class="filter-input">
                        
                </div>

                <button id="filter-update-button" class="action-button" onclick="doFilterUpdate()">Update Filter</button>

        </div>
    </aside>


    <section id="posts">
      {{#each posts}}
      {{> allPost this}}
      {{/each}}

    </section>


</main>
<aside id="modal-chooser" class="hidden">
    <button id="choose-image">Image Post</button>
    <button id="choose-text">Text Post</button>
    <button id="choose-list">List Post</button>
    <button id="close-modallist">Nevermind</button>

</aside>
<aside id="modal-box" class='hidden'>
    <!---<div class="background-content">

    </div>-->
</aside>
<div id="modal-background-content" class='hidden'></div>

<footer></footer>

<!--
  <script defer type="text/javascript" src="./functionality/imgGrab.js">
  // document.getElementById('submit').addEventListener('click',clickSubmit);
  // document.getElementById('cancel').addEventListener('click',cancel);
  window.addEventListener('keydown',preview);
  </script>
  <script defer type="text/javascript" src="./functionality/textGrab.js"></script>
  <script defer type="text/javascript" src="./functionality/listGrab.js">
  // document.getElementById('remove-item').addEventListener('click',removeLastItem);
  // document.getElementById('add-item').addEventListener('click',addOneMoreItem);
  </script>
-->
<script type="text/javascript" src="./handleModals.js" defer>
    // here in this script i handle the compileing of each different modal,
    // as the just are way too damn big to handle.
</script>
<script type="text/javascript" src="./functionality/filter.js"></script>
