{{> header}}
 <link href="/pageStyles/postpage.css" rel="stylesheet" />

<article id="profile">

  <aside id="data">
    <h3> {{title}}</h3>
    <p> Tags: {{tags}}</p>
    <p> Type: {{type}}
    <p> {{date}} </p>
  </aside>

{{> allPost this}}



</article>
<div id="related">

</div>
