{{> header}}
<!-- <link href="postpage.css" rel="stylesheet" /> -->

<article id="profile">

{{> allPost this}}

<div id="related">

</div>

<aside id="data">
  <h3> {{title}}</h3>
  <p> {{date}} </p>
</aside>

</article>
