/*this just holds all the stuff with the post.*/
#profile{
  width:20vw;
  height:300px;
  position: relative;
  left: 36vw;
}

#data{
  display: block;
  float: right;
  position: relative;
  left: 400px;
  height: 180px;
}

