
    {{> header}}



    <main>
                                                                                                                                                                                                                                                                                                                                                    <aside>
            <div class="addPostContainer">
                <button id="add-post" class="addPostButton">Add a Post</button>
            </div>
            <div class="filterSection">
                <h2>Filters</h2>
            </div>
        </aside>


        <section id="posts">

          {{#each posts}}
          {{> allPost this}}
          {{/each}}
        </section>


    </main>
    <aside id="modal-chooser" class="hidden">
      <button id="choose-image">Image Post</button>
      <button id="choose-text">Text Post</button>
      <button id="choose-list">List Post</button>
      <button id="close-modallist">[x]</button>

    </aside>
    <aside id="modal-box" class='hidden'>
      <div class="background-content">

      </div>
    </aside>

    <footer>

    </footer>

    <script  type="text/javascript" src="/functionality/handleModals.js" defer>

    // here in this script i handle the compileing of each different modal,
    // as the just are way too damn big to handle.
    </script>
